
* {
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", system-ui;
}
.default_width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/*button*/
.button {
    background: #000;
    color: #fff;
    padding: 0 12px;
    font-size: inherit;
    min-height: 35px;
    border-radius: 6px;
}

.button.linear {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

/*a*/
a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/*input*/
.input {
    padding: 4px 8px;
    min-height: 35px;
}

/*ellipsis*/
.ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*flex*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    gap: 16px;
    flex-direction: column;
}


/*scroll*/
.custom_scroll::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}
.custom_scroll::-webkit-scrollbar-track {
    background: transparent;
}
.custom_scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.8);
    border-radius: 45px;
    transition: all 0.3s;
}
.custom_scroll::-webkit-scrollbar-thumb:hover {
    background: #000;
    transition: all 0.3s;
}

/*require*/
.require:after {
    content: "*";
    color: #ff0000 !important;
}
